body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 180px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: .4em;
  grid-template-areas:
      "header header header"
      "nav main advert"
      "nav main news"
      "footer footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: .6em;
}

h1 {
  display: inline;
}

[role="search"] {
  background-color: darkgreen;
  float: right;
  padding: .6em;
}

nav {
  grid-area: nav;
  background-color: lightsalmon;
}

ul {
  list-style-type: none;
}

main {
  grid-area: main;
  background-color: lemonchiffon;
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  grid-gap: .4em;
  grid-template-areas:
      "p p"
      "store playground"
}

main p {
  grid-area: p;
}

section {
  background-color: violet;
  padding: .6em
}

section.store {
  grid-area: store;
}

section.playground {
  grid-area: playground;
}

aside.advert {
  grid-area: advert;
  background-color: turquoise;
  padding-left: .6em;
}

aside.news {
  grid-area: news;
  background-color: turquoise;
  padding-left: .6em;
  padding-bottom: .8em;
}

aside.news input {
  margin-bottom: .6em;
}

form.signup {
  background-color: lightblue;
  margin-right: .6em;
  padding-left: .5em;
  padding-top: .5em;
}

footer {
  grid-area: footer;
  background-color: lightgreen;
  text-align: center;
  padding: 25px 0;
}

footer span {
  padding-right: .6em;
}